* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.page-1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(70px, auto) minmax(255px, auto) 1fr;
  grid-template-areas: "nav nav" "headline details" "image image";
  background-color: #fff;
}
.page-1 .nav {
  height: 7rem;
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.page-1 .nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.page-1 .nav .nav-1 {
  margin-right: 12rem;
}
.page-1 .nav .nav-1 h1 {
  font-size: 26px;
  font-weight: 900;
}
.page-1 .nav .nav-2 ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.page-1 .nav .nav-3 {
  margin-left: 15rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.page-1 .nav .nav-3 button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  font-weight: 600;
  cursor: pointer;
}
.page-1 .nav .nav-3 #button-1 {
  background-color: transparent;
  border: 1px solid #0061fd;
  border-radius: 50px;
  padding: 10px 15px;
  cursor: pointer;
}
.page-1 .nav .nav-3 #button-1:hover {
  background-color: #0061fd;
  color: white;
  transition: 0.3s all ease;
}
.page-1 .nav .nav-3 #button-2 {
  background-color: #0061fd;
  border: none;
  color: white;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
}
.page-1 .nav .nav-3 #button-2:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
  transition: 0.3s all ease;
}
.page-1 .headline {
  grid-area: headline;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0 2rem;
  background-color: #f6f7f9;
}
.page-1 .details {
  grid-area: details;
  padding: 2rem;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.page-1 .details p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  line-height: 1.3;
  color: #848688;
  text-align: justify;
  margin-right: 2rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}
.page-1 .details #button-container {
  display: flex;
  align-items: center;
}
.page-1 .details .button-1, .page-1 .details .button-2 {
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: 0.3s all ease;
}
.page-1 .details .button-1 {
  background-color: #0061fd;
  color: white;
  border: none;
  margin-right: 1rem;
}
.page-1 .details .button-1 i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}
.page-1 .details .button-1:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
}
.page-1 .details .button-2 {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
}
.page-1 .details .button-2:hover {
  background-color: #0061fd;
  color: white;
}
.page-1 .image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f9;
}
.page-1 .image img {
  width: 90%;
  height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}

.page-2 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(350px, auto) 1fr;
  grid-template-areas: "heading heading" "left-main right-main";
  background-color: #fff;
  border-radius: 20px;
}
.page-2 .heading-element {
  grid-area: heading;
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;
  gap: 10px;
}
.page-2 .heading-element #heading-box h2 {
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.923);
}
.page-2 .heading-element #heading-box p {
  font-size: 1.5rem;
  font-weight: 500;
  color: #adadad;
  line-height: 1.2;
  text-align: center;
  padding: 0 2rem;
}
.page-2 .left-main {
  grid-area: left-main;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 13.5rem;
  padding-left: 5rem;
  padding-right: 2rem;
}
.page-2 .left-main button {
  padding: 10px 20px;
  background-color: transparent;
  color: #848688;
  border: 1px solid rgba(0, 0, 0, 0.652);
  transition: 0.3s all ease;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}
.page-2 .left-main button:hover {
  background-color: rgba(0, 0, 0, 0.634);
  color: white;
  transition: 0.3s all ease;
}
.page-2 .left-main h1 {
  font-size: 2.7rem;
  font-weight: 500;
  color: rgbaa(0, 0, 0, 0.911);
  line-height: 0.94;
  text-align: justify;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}
.page-2 .left-main p {
  font-size: 1.4rem;
  font-weight: 500;
  color: #848688;
  line-height: 1.3;
  text-align: justify;
  margin-right: 2rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  margin-bottom: 2rem;
}
.page-2 .right-main {
  grid-area: right-main;
  background-color: #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.page-2 .right-main img {
  width: 90%;
  height: 60%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 30px;
}

.page-3 {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}
.page-3 .top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 6rem;
}
.page-3 .top-section #headlines {
  padding-left: 4.5rem;
  margin-right: 1rem;
}
.page-3 .top-section #headlines h1 {
  font-size: 2.5rem;
  font-weight: 500;
  color: rgbaa(0, 0, 0, 0.911);
  line-height: 0.94;
}
.page-3 .top-section #headlines button {
  padding: 10px 20px;
  background-color: transparent;
  color: #848688;
  border: 1px solid rgba(0, 0, 0, 0.652);
  transition: 0.3s all ease;
  border-radius: 50px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 2rem;
}
.page-3 .top-section #headlines button:hover {
  background-color: rgba(0, 0, 0, 0.634);
  color: white;
  transition: 0.3s all ease;
}
.page-3 .top-section #textline {
  padding-left: 8rem;
  margin-top: 4rem;
  padding-right: 2rem;
}
.page-3 .top-section #textline p {
  font-size: 1.3rem;
  font-weight: 500;
  color: #848688;
  line-height: 1.3;
  letter-spacing: 0.5px;
  word-spacing: 1px;
  padding-left: 2rem;
}
.page-3 .bottom-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 4.5rem;
  margin-top: 2rem;
}
.page-3 .bottom-section .cards {
  height: 450px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.297);
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.277);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page-3 .bottom-section .cards .card-info {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  text-align: left;
  color: #fff;
}
.page-3 .bottom-section .cards h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}
.page-3 .bottom-section .cards p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  color: #dcdada;
}
.page-3 .bottom-section .cards img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 20px;
  display: block;
}/*# sourceMappingURL=style.css.map */