* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.page-1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(70px, auto) minmax(255px, auto) 1fr;;
  grid-template-areas:
    "nav nav"
    "headline details"
    "image image";
  background-color: #ffffff;
}

/* NAVBAR */
.nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.nav-1 {
  margin-right: 12rem;
}

.nav-3 {
  margin-left: 15rem;
  padding-left: 2rem;
}

.nav-1 h1 {
  font-size: 26px;
  font-weight: 900;
}

.nav-2 ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.nav-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.nav-3 button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  background-color: lightblue;
  font-weight: 600;
  cursor: pointer;
}

#button-1 {
  background-color: transparent;
  border: 1px solid #0061fd;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 15px;
}

#button-1:hover {
  background-color: #0061fd;
  color: white;
  transition: 0.3s all ease;
}

#button-2 {
  background-color: #0061fd;
  border: none;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  padding: 10px 20px;
}

#button-2:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
  transition: 0.3s all ease;
}

.nav a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* PAGE 1 GRID AREAS */
.headline {
  grid-area: headline;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0 2rem;
  background-color: #f6f7f9;
}

.details {
  grid-area: details;
  padding: 2rem;
  background-color: #f6f7f9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.details p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  line-height: 1.3;
  color: #848688;
  text-align: justify;
  margin-right: 2rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

/* BUTTONS */
.button-1 {
  background-color: #0061fd;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 16px;
}

.button-1 i {
  font-size: 18px;
  vertical-align: middle;
  margin-left: 5px;
}

.button-1:hover {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
  transition: 0.3s all ease;
}

.button-2 {
  background-color: transparent;
  color: black;
  border: 1px solid #0061fd;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  font-size: 16px;
}

.button-2:hover {
  background-color: #0061fd;
  color: white;
  transition: 0.3s all ease;
}

.image {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f6f7f9;
}

.image img{
  width: 90%;
  height: 85%;
  object-fit: cover;
  border-radius: 30px;
}

.page-2{
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(350px, auto) 1fr;
  grid-template-areas:
    "heading heading"
    "left-main right-main";
  background-color: #ffffff;
}

.heading-element{
  grid-area: heading;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;
  gap: 10px;
}
.left-main{
  grid-area: left-main;
  background-color: rgb(158, 231, 173);
}
.right-main{
  grid-area: right-main;
  background-color: rgb(158, 197, 231);
}

#heading-box h2{
  font-size: 4.5rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.923);
  
}

#heading-box p{
  font-size: 1.5rem;
  font-weight: 500;
  color: #adadad;
  line-height: 1.2;
  text-align: center;
  padding: 0 2rem;
}
