$primary-color: #0061fd;
$light-bg: #f6f7f9;
$text-color: #848688;
$border-radius: 50px;
$transition: 0.3s all ease;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  // display: flex;
  // flex-direction: column;
}

// PAGE 1

.page-1 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: minmax(70px, auto) minmax(255px, auto) 1fr;
  grid-template-areas:
    "nav nav"
    "headline details"
    "image image";
  background-color: #fff;

  // NAVBAR
  .nav {
    height: 7rem;
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    a {
      text-decoration: none;
      color: black;
      font-weight: 500;
    }

    .nav-1 {
      margin-right: 12rem;

      h1 {
        font-size: 26px;
        font-weight: 900;
      }
    }

    .nav-2 {
      ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
      }
    }

    .nav-3 {
      margin-left: 15rem;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

      button {
        padding: 8px 16px;
        border: none;
        border-radius: 5px;
        background-color: lightblue;
        font-weight: 600;
        cursor: pointer;
      }

      #button-1 {
        background-color: transparent;
        border: 1px solid $primary-color;
        border-radius: $border-radius;
        padding: 10px 15px;
        cursor: pointer;

        &:hover {
          background-color: $primary-color;
          color: white;
          transition: $transition;
        }
      }

      #button-2 {
        background-color: $primary-color;
        border: none;
        color: white;
        border-radius: $border-radius;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: transparent;
          color: black;
          border: 1px solid $primary-color;
          transition: $transition;
        }
      }
    }
  }

  // HEADLINE SECTION
  .headline {
    grid-area: headline;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0 2rem;
    background-color: $light-bg;
  }

  // DETAILS SECTION
  .details {
    grid-area: details;
    padding: 2rem;
    background-color: $light-bg;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    p {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 1.3rem;
      line-height: 1.3;
      color: $text-color;
      text-align: justify;
      margin-right: 2rem;
      letter-spacing: 0.5px;
      word-spacing: 1px;
    }

    // BUTTONS
    #button-container {
      display: flex;
      align-items: center;
    }

    .button-1, .button-2 {
      border-radius: $border-radius;
      font-weight: 600;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      transition: $transition;
    }

    .button-1 {
      background-color: $primary-color;
      color: white;
      border: none;
      margin-right: 1rem;

      i {
        font-size: 18px;
        vertical-align: middle;
        margin-left: 5px;
      }

      &:hover {
        background-color: transparent;
        color: black;
        border: 1px solid $primary-color;
      }
    }

    .button-2 {
      background-color: transparent;
      color: black;
      border: 1px solid $primary-color;

      &:hover {
        background-color: $primary-color;
        color: white;
      }
    }
  }

  // IMAGE SECTION
  .image {
    grid-area: image;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-bg;

    img {
      width: 90%;
      height: 85%;
      object-fit: cover;
      border-radius: 30px;
    }
  }
}

// PAGE 2

.page-2 {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(350px, auto) 1fr;
  grid-template-areas:
    "heading heading"
    "left-main right-main";
  background-color: #fff;
  border-radius: 20px;

  .heading-element {
    grid-area: heading;
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
    gap: 10px;

    #heading-box {
      h2 {
        font-size: 4.5rem;
        font-weight: 500;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.923);
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        color: #adadad;
        line-height: 1.2;
        text-align: center;
        padding: 0 2rem;
      }
    }
  }

  .left-main {
    grid-area: left-main;
    background-color: $light-bg;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 13.5rem;
    padding-left: 5rem;
    padding-right: 2rem;
    button{
        padding: 10px 20px;
        background-color: transparent;
        color: $text-color;
        border: 1px solid rgba(0, 0, 0, 0.652);
        transition: $transition;
        border-radius: $border-radius;
        font-size: 1.2rem;
        font-weight: 600;
        cursor: pointer;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.634);
            color: white;
            transition: $transition;
        }
    }
    h1{
        font-size: 2.7rem;
        font-weight: 500;
        color: rgbaa(0, 0, 0, 0.911);
        line-height: 0.94;
        text-align: justify;
        letter-spacing: 0.5px;
        margin-bottom: 3rem;
    }
    p{
        font-size: 1.4rem;
        font-weight: 500;
        color: $text-color ;
        line-height: 1.3;
        text-align: justify;
        margin-right: 2rem;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        margin-bottom: 2rem;
        // padding-right: 2rem;
    }
  }

  .right-main {
    grid-area: right-main;
    background-color: $light-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    img{
        width:  90%;
        height: 60%;
        object-fit: cover;
        object-position: center;
        border-radius: 30px;
    }
  }
}
.page-3{
  width: 100%;
  min-height: 100vh;
  background-color:#fff;
  .top-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    // padding-left: 4.5rem;
    margin-top: 6rem;
    #headlines{
      padding-left: 4.5rem;
      margin-right: 1rem;
      h1{
        font-size: 2.5rem;
        font-weight: 500;
        color: rgbaa(0, 0, 0, 0.911);
        line-height: 0.94;
        // letter-spacing: 0.5px;
        // margin-bottom: 3rem;
      }
      button{
        padding: 10px 20px;
        background-color: transparent;
        color: $text-color;
        border: 1px solid rgba(0, 0, 0, 0.652);
        transition: $transition;
        border-radius: $border-radius;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 2rem;
        
        &:hover{
            background-color: rgba(0, 0, 0, 0.634);
            color: white;
            transition: $transition;
        }
      }
    }
    #textline{
      padding-left: 8rem;
      margin-top: 4rem;
      padding-right: 2rem;
      p{
        font-size: 1.3rem;
        font-weight: 500;
        color: $text-color ;
        line-height: 1.3;
        // margin-right: 0.5rem;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        // margin-bottom: 2rem;
        padding-left: 2rem;
      }
    }
  }
  .bottom-section{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    padding: 2rem 4.5rem;
    margin-top: 2rem;
    .cards{
      height: 450px;
      width: 100%;
      border: 1px solid rgba(128, 128, 128, 0.297);
      background-color:#fff;
      border-radius: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.277);
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      .card-info{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 1.5rem;
        background: rgba(0, 0, 0, 0.5);
        text-align: left;
        color: #fff;
      }
      h3{
        margin: 0;
        font-size: 1.2rem;
        font-weight: 700;
      }
      p{
        margin: 0;
        font-size: 1rem;
        font-weight: 400;
        color: #dcdada;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 20px;
        display: block;
      }
    }
  }
}

.page-4{
  width: 100%;
  min-height: 100vh;
  margin-top: 5rem;
  margin-bottom: 2rem;
  background-color: $light-bg;
  padding-left: 4.5rem;
  padding-right: 1rem;
  #headline{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4.5rem;
    padding-top: 6rem;
    #left-headline{
      button{
        padding: 10px 20px;
        background-color: transparent;
        color: $text-color;
        border: 1px solid rgba(0, 0, 0, 0.652);
        transition: $transition;
        border-radius: $border-radius;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: pointer;
        margin-bottom: 2rem;
        
        &:hover{
          background-color: rgba(0, 0, 0, 0.634);
          color: white;
          transition: $transition;
        }
      }
      h1{
        font-size: 2.5rem;
        font-weight: 500;
        color: rgbaa(0, 0, 0, 0.911);
        line-height: 0.94;
      }
    }
    #right-headline{
      p{
        font-size: 1.3rem;
        font-weight: 500;
        color: $text-color ;
        line-height: 1.3;
        // margin-right: 0.5rem;
        letter-spacing: 0.5px;
        word-spacing: 1px;
        // margin-bottom: 2rem;
        padding-left: 2rem;
        margin-top: 5rem;
      }
    }
  }
}


